.page {
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;

}

.header__title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 65px;
  margin: 50px 0 15px 0;
}

.header__author {
  font-family: Arial, sans-serif;
  font-size: 35px;
  margin: 0 0 40px 0;
}

.card__list {
  list-style: none;
  padding: 0;
}

.card {
  max-width: 800px;
  background: white;
  display: flex;
  padding: 30px 15px 10px 30px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
}

.card__main {
  display: flex;
  flex-direction: column;
}

.card__title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 0;
}

.card__text {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0 40px 20px 0;
}
